@font-face{
  font-family: Shadows;
  src: url(../Shadows.ttf);
}
@font-face{
  font-family: Farsan;
  src: url(../Farsan.ttf);
}

@font-face{
  font-family: Roboto;
  src: url(../Roboto.ttf);
}
.navbar-item{
  text-decoration: none;
  font-size: 50px;
  color: white;
  text-shadow: 1px 1px #3b3c3f;
  font-family: Farsan;
}
.navbar-item:hover{
color: black;
}
.navbar-header{
  text-decoration: none;
  font-size: 60px;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px #3b3c3f;
    font-family: Farsan;
}

.navbar-header:hover{
  color: black;
}

hr{
  background-color: white;
}

.note-header{
  font-family: Farsan;
}

.note-context{
  font-family: Roboto;
  font-size: 19px;
}

.column-1{
  width:400px;
  height: 400px;
  background-color: #8d9b6a;
  box-shadow: 5px 10px;
  text-family: Farsan;
}
.column-2{
  width:400px;
  height: 400px;
  background-color: #8a9ea7;
  box-shadow: 5px 10px;
  text-family: Farsan;
}
.column-3{
  width:400px;
  height: 400px;
  background-color:#dab692;
  box-shadow: 5px 10px;
  text-family: Farsan;
}
