@font-face{
  font-family: Shadows;
  src: url(../Shadows.ttf);
}

@font-face{
  font-family: Farsan;
  src: url(../Farsan.ttf);
}

.navbar-item{
  text-decoration: none;
  font-size: 50px;
  color: white;
  text-shadow: 1px 1px #3b3c3f;
  font-family: Farsan;
}
.navbar-item:hover{
color: black;
}
.navbar-header{
  text-decoration: none;
  font-size: 60px;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px #3b3c3f;
    font-family: Farsan;
}

.navbar-header:hover{
  color: black;
}


hr{
  background-color: white;
}



.entry{
  width: 340px;
  height: 418px;
  background-color: #f7f794;
  border-radius: 20px;
  box-shadow: 5px 10px;

}

.content{
  display: inline-block;
 width: 200px; height: 200px;
}

img:hover{
  opacity: .5;
}

@font-face{
  font-family: Shadows;
  src: url(../Shadows.ttf);
}
