.navbar-item{
  text-decoration: none;
  font-size: 30px;
  color: white;
}

.navbar-header{
  text-decoration: none;
  font-size: 45px;
  color: white;
  font-weight: bold;
}

hr{
  background-color: white;
}


.rectangle{
  width: 400px;
   height: 400px;
   background-color: #8a9ea7;
   position:absolute;
   top:50%;
   left:50%;
   margin-left:-200px;/* half width*/
   margin-top:-200px;/* half height*/
   box-shadow: 5px 10px;
}

input[type=submit]{
  width: 150px;
  height: 30px;
  background-color: #8a9ea7;

}
