<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet"href="{{ url_for('static', filename='stylesheets/index.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Note.ify</title>
  </head>
  <body style="background-color: #e8dfe0;">
    
    <div class="container text-center">
      <div class="row">
        <div class="col">

        </div>
        <div class="col">
          <img src="../static/logo.png" alt="image">
        </div>
        <div class="col">

        </div>
      </div>
      <div class="row py-5 text-center">
        <div class="col">
          <div class="column-1">
            <div class="container">
              <h1 class="note-header py-1">What is Noteify?</h1>
              <p class="text-start note-context">
                Noteify is a website aimed to improve a person's mental health.
                Noteify allows people to write themselves notes and place them in various "jars".
                People can write a note talking about an accomplishment they are proud of, their goals in the future, or a funny story, anything that
                will help them stay positive or even just brighten up their day.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="column-2">
            <div class="container">
              <h1 class="note-header py-1">How Do I Use Noteify?</h1>
              <p class="text-start note-context">
                Get started with Noteify <a href="/signup">Here!</a>
                Create an account with your email and you will be able to create your own notes!
                Clicking on a jar will show you a random note you have entered in that jar.
                Click on "Create A New Note"
                in order to start customizing your own notes and put them in any of the 5 jars.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="column-3">
            <div class="container">
              <h1 class="note-header py-1">Why Should I Use Noteify?</h1>
              <p class="text-start note-context">
                With the increase of depression and other various mental illnesses increasing, it is important
                to take this matter seriously. There is so much research discussing the link between positive
                thinking and a better, healthier lifestyle. Noteify helps people's mental health by
                giving user's a more positive way of thinking.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Add These To all HTMl Files -->
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-database.js"></script>
    <script src="../static/firebase.js"></script>
  </body>
</html>
