<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://kit.fontawesome.com/a8e5d1c419.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"href="{{ url_for('static', filename='stylesheets/jar.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Note.ify</title>
  </head>
  <body style="background-color: #dab692;">
    <div class="container pt-3">
      <div class="row">
        <div class="col">
          <a onclick="goBackToMainPage()">
            <i class="far fa-times-circle fa-3x icon"></i>
          </a>
        </div>
        <div class="col text-end">
          <a onclick="getNewNote('OpenWhenYouNeedAGoodLaugh')">
            <i class="fas fa-sync fa-3x icon"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="rectangle">
        <div class="container">
          <p id="note"></p>
        </div>
      </div>
    </div>
    <!-- Add These To all HTMl Files -->
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-database.js"></script>
    <script src="../static/src/firebase.js"></script>
    <script src="../static/src/jarFunctions.js"></script>
    <script type="text/javascript">
      function getRandomInt(max) {
          return Math.floor(Math.random() * Math.floor(max));
        }
      var database = firebase.database();
      firebase.auth().onAuthStateChanged(function(user) {
        if (user) {
          console.log(user);
          console.log(user.uid);
          var notes = [];
          var leadsRef = database.ref('/users' + '/' + user.uid+ '/OpenWhenYouNeedAGoodLaugh');
          leadsRef.on('value', function(snapshot) {
              snapshot.forEach(function(childSnapshot) {
                var childData = childSnapshot.val();

                var note = (childData['entry']);
                notes.push(note);

              });
              console.log(notes.length);
              if(notes.length == 0){
                document.getElementById('note').innerHTML = "There are no notes in this jar."
              }
              else{
                document.getElementById('note').innerHTML = notes[getRandomInt(notes.length)];
              }
          });
        } else {
          location.href = '/signin';
        }
      });
    </script>
  </body>
</html>
