<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet"href="{{ url_for('static', filename='stylesheets/profile.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Note.ify</title>
  </head>
  <body style="background-color: #e8dfe0;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-header" href="/">Noteify</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          </ul>
          <span class="navbar-text">
            <a class="navbar-item px-3" href="/">Home</a>
            <a class="navbar-item px-3" href="/profile">My Profile</a>
            <a class="navbar-item px-3" href="/signup">Sign Up</a>
            <a class="navbar-item px-3" href="/">About</a>
            <button class="btn btn-outline-secondary mb-2" name="button" value="SIgn out" onclick="signOut()" type="button">Sign Out</button>
          </span>
        </div>
      </div>
    </nav>
    <div class="container py-5 ps-5">

      <div class="row">
        <div class="col">
          <a href="/submit" style="color:black;">
            <div class="entry">
              <div class="container content text-center pt-5">
                <h1 class="pt-5"style="font-family: Farsan; font-size: 50px;">Create A New Note</h1>
              </div>
            </div>
          </a>
        </div>
        <div class="col ">
          <a href="/jar-one"><img src="../static/image1.png" alt=""></a>
        </div>
        <div class="col">
          <a href="/jar-two"><img src="../static/image2.png" alt=""></a>

        </div>
      </div>
      <div class="row pt-3">
        <div class="col">
          <a href="/jar-three"><img src="../static/image3.png" alt=""></a>

        </div>
        <div class="col">
          <a href="/jar-four"><img src="../static/image4.png" alt=""></a>

        </div >
        <div class="col">
          <a href="/jar-five"><img src="../static/image5.png" alt=""></a>
        </div>
      </div>
    </div>

    <!-- Add These To all HTMl Files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-database.js"></script>
    <script src="../static/firebase.js"></script>
    <script type="text/javascript">
      firebase.auth().onAuthStateChanged(function(user) {
        if (user) {
          var postData = {
            email:user.email,
          };
          var updates = {};
          updates['/users/' + user.uid +'/userinformation'] = postData;
          return firebase.database().ref().update(updates);
        } else {
          location.href = "/signin";
        }
      });
      function signOut() {
        firebase.auth().signOut().then(() => {
        // Sign-out successful.
          location.href = '/';
        }).catch((error) => {
          // An error happened.
        });
      }
    </script>
  </body>
</html>
