<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet"href="{{ url_for('static', filename='stylesheets/signin.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Note.ify</title>
  </head>
  <body style="background-color: #e8dfe0;">
    <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-2 pt-1">
            <a class="navbar-item" href="#">Home</a>
          </div>
          <div class="col-2 pt-1">
            <a class="navbar-item" href="#">Sign In</a>
          </div>
          <div class="col-4 text-center">
            <a class="navbar-header" href="#">Noteify</a>
          </div>
          <div class="col-2 d-flex justify-content-end align-items-center">
            <a class="navbar-item" href="#">About</a>
          </div>
          <div class="col-2 d-flex justify-content-end align-items-center">
            <a class="navbar-item" href="#">Contact Us</a>
          </div>
        </div>
      </header>
      <hr>
    </div>
    <div class="rectangle">
      <div class="container py-5 text-center">
        <h1>Sign In</h1>
        <div class="py-3">
          <input type="text" id = "email" placeholder="Email Address" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="py-3">
          <input type="password" id = "password" placeholder="Password" class="form-control" id="exampleInputPassword1">
        </div>
        <input type="submit" onclick = "signin()"value="Sign In!">
        <div class="text-center py-5">
          <p>Dont Have An Account?</p>
          <a href="/signup">Create One Here!</a>
        </div>
      </div>
    </div>

    <!-- Add These To all HTMl Files -->
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-database.js"></script>
    <script src="../static/firebase.js"></script>
    <script src="../static/signin.js"></script>
  </body>
</html>
