<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://kit.fontawesome.com/a8e5d1c419.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"href="{{ url_for('static', filename='stylesheets/submit.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Note.ify</title>
  </head>
  <body style="background-color: #e8dfe0;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-header" href="/">Noteify</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          </ul>
          <span class="navbar-text">
            <a class="navbar-item px-3" href="/">Home</a>
            <a class="navbar-item px-3" href="/profile">My Profile</a>
            <a class="navbar-item px-3" href="/signup">Sign Up</a>
            <a class="navbar-item px-3" href="/">About</a>
          </span>
        </div>
      </div>
    </nav>
    <h1 class="text-center">Submit A note</h1>
    <div class="container text-center">
      <div class="enter-note text-center ">
        <br>
        <br>
        <div class="container">
          <textarea id="note" name="name" rows="8" cols="38" placeholder="Set A Positive Note For Yourself ..."></textarea>
        </div>
        <p id="confirm" style="color:green;"></p>
      </div>
      <div class="container pt-3 col">
        <label for="jars">Put Note In Which Jar?</label>
        <select name="jars" id="jars">
          <option value="OpenWhenYouFeelLikeYoureNotGoodEnough">Open When You're Not Feeling like You're Not Good Enough</option>
          <option value="OpenWhenYoureGoingThroughARoughPatch">Open When You're Going Through A Rough Patch</option>
          <option value="OpenWhenYouNeedAGoodLaugh">Open When You Need A Good Laugh</option>
          <option value="OpenWhenYouAreFeelingLonely">Open When You Are Feeling Lonely</option>
          <option value="OpenWhenYouAreFeelingAnxious">Open When You Are Feeling Anxious</option>
        </select>
        <input onclick="addEntryToJar()"type="submit" value="Submit">
      </div>

    </div>



    <!-- Add These To all HTMl Files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-database.js"></script>
    <script src="../static/firebase.js"></script>
    <script src="../static/database.js"></script>
    <script type="text/javascript">
      var letterCount = document.getElementById('note').value;
      console.log(letterCount.length);
      function goBackToMainPage(){
        location.href = "/profile";
      }
    </script>
  </body>
</html>
